/* Write your CSS here */
.bg-container {
  background-color: #1e293b;
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  color: #f0bb03;
  font-family: Bree Serif;
  font-weight: 700;
  font-size: 34px;
}

.description {
  color: #ffffff;
  font-size: 24px;
  font-weight: 400;
  font-family: Bree Serif;
}
.btn {
  background-color: #ffffff;
  color: black;
  font-family: 'Roboto';
  height: 30px;
  width: 90px;
  border-style: solid;
  border-width: 0px;
  border-radius: 6px;
}
